@font-face{
    font-family: 'Signika-Regular';
    src: url(../fonts/Signika-Regular.ttf);
}

* {
    font-family: 'Signika-Regular', Tahoma, Arial;
}
html,
body{
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map{
    height: 100%;
}

