@font-face {
    font-family: 'Signika-Regular';
    src: url(../fonts/Signika-Regular.ttf);
}

* {
    font-family: 'Signika-Regular', Tahoma, Arial;
}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container, .map-container, #map {
    height: 100%;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 45px;
}



.inline-block {
    display: inline-block;
}

.button-style {
    cursor: pointer;
}

.fixed-top-div {
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #111617;
    color: aliceblue;
    display: flex;
}

.page-title {
    margin: auto;
    width: 95%;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

.listview-toggle-btn {
    font-size: x-large;
    padding: 1px 10px;
    margin: 5px 10px;
    border: 1px solid #7b7b7b;
    border-radius: 10%;
    vertical-align: middle;
}

.listview-toggle-btn:hover{
    color: #111617;
    background-color: aliceblue;
}


/* source from https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* ================================================================ */

.main-container {
    transition: margin-left .5s;
    margin-left: 300px;
}

.map-container {
    transition: left .5s;
    left: 300px;
}

.side-nav {
    height: 100%;
    /* 100% Full-height */
    width: 300px;
    /* 0 width - change this with JavaScript */
    padding: 30px;
    position: fixed;
    /* Stay in place */
    z-index: 111;
    /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    background-color: #111617;
    color: aliceblue;
    font-size: 16px;
}

/* ============================================================= */

.location-list-item{
    margin: 15px;
    font-size: 16px;
}

